body {
    color: #333;
    line-height: 1.8;
    letter-spacing: 0.08rem;
    font-family: open sans, helvetica neue, helvetica, arial, sans-serif
}

.jumbotron-a {
    position: relative;
    float: right;
    margin: -50px 10px 0 0;
}

.reward_div {
    background: url("img/reward2.jpg");
    height: 608px;
    width: 850px;
    margin: auto;
}

.person-text {
    padding: 220px 0 0 70px;
    font-weight: bold;
    font-size: 22px;
}

.content-text {
    padding: 0 0 0 100px;
    font-size: 18px;
    width: 760px;
    line-height: 28px;
    height: 112px;
    word-wrap:break-word; 
    text-overflow:ellipsis;
    overflow:hidden;
}

.publicer-text {
    /*float: right;*/
    padding: 0 80px 0 30px;
    font-size: 18px;
    font-weight: bold;
}

.time-text {
    /*float: right;*/
    padding: 0 80px 0 30px;
    font-size: 18px;
    font-weight: bold;
}

.layout{
		text-decoration: none;
}
.layout:hover{
		text-decoration: underline;
}